.button {
	@apply flex items-center rounded-md font-normal gap-1 w-fit box-border transition-all ease-in-out border-2 border-transparent;
	user-select: none;
	text-wrap: nowrap;
	svg {
		height: 18px;
	}
}

.primary {
	@apply bg-primary text-white;
	&:hover {
		@apply bg-secondary;
	}
	&:active {
		@apply bg-secondary;
	}
	&:disabled {
		@apply bg-extra-light text-light;
	}
	&:focus {
		@apply bg-secondary border-primary border-2;
	}
}

.outline {
	@apply border-primary text-primary bg-transparent;
	&:hover {
		@apply bg-extra-light border-secondary text-secondary;
	}
	&:active {
		@apply bg-extra-light border-secondary text-secondary;
	}
	&:disabled {
		@apply bg-extra-light text-light border-transparent;
	}
	&:focus {
		@apply bg-extra-light border-primary;
	}
}

.text {
	@apply text-black border-2 border-transparent bg-transparent font-medium;
	&:hover {
		@apply bg-extra-light  text-secondary;
	}
	&:active {
		@apply bg-extra-light  text-secondary;
	}
	&:disabled {
		@apply border-2 border-transparent text-light bg-transparent;
	}
	&:focus {
		@apply border-2 border-primary text-primary;
	}
}

.xs {
	@apply h-5 px-2;
	font-size: smaller;
	svg {
		height: 12px;
	}
}

.sm {
	@apply h-6 px-3;
	font-size: small;
	svg {
		height: 14px;
	}
}

.base {
	@apply h-8 px-4;
}

.lg {
	@apply h-10 px-5;
}

.xl {
	@apply h-12 px-6;
}
